 {% load static %}
 <footer class="main-footer">
   <div class="container">
     <div class="row">
       <div class="col-md-4">
         <div class="logo">
           <h6 class="text-white">GITSALAH <span style="color:#41C4F6">Blog</span></h6>
         </div>
         <div class="contact-details">
           <p>Lot 171 Yc Marrakech</p>
           <p>Phone: (212) 6 49 11 88 03</p>
           <p>Email: <a href="mailto:info@company.com">bouanbasalah@gmail.com</a></p>
           <ul class="social-menu">
             <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
             <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
             <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
           </ul>
         </div>
       </div>
       <div class="col-md-4">
         <div class="menus d-flex">
           <ul class="list-unstyled">
             <li> <a href="#">Privacy &amp; Policy</a></li>
           </ul>
           <ul class="list-unstyled">
             <li> <a href="#">Our Partners</a></li>
             <li> <a href="#">FAQ</a></li>
             <li> <a href="#">How It Works</a></li>
             <li> <a href="#">Contact</a></li>
           </ul>
         </div>
       </div>
       <div class="col-md-4">
       
         <div class="latest-posts">
          {% for obj in latest %}
          <a href="#">
             <div class="post d-flex align-items-center">
               <div class="image"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></div>
               <div class="title"><strong>{{ obj.title }}</strong><span
                   class="date last-meta">{{ obj.timestamp|timesince}} ago</span></div>
             </div>
              </a>
             {% endfor %}
           {% for obj in most_recent %}
          <a href="#">
             <div class="post d-flex align-items-center">
               <div class="image"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></div>
               <div class="title"><strong>{{ obj.title }}</strong><span
                   class="date last-meta">{{ obj.timestamp|timesince}} ago</span></div>
             </div>
              </a>
             {% endfor %}
         </div>
        
       </div>
     </div>
   </div>
   



   <div class="copyrights">
     <div class="container">
       <div class="row">
         <div class="col-md-6">
           <p>&copy; 2020. All rights reserved.GitSalah website.</p>
         </div>
         <div class="col-md-6 text-right">
           <p>Devlopped By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">GITSALAH LLC</a>
             <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
           </p>
         </div>
       </div>
     </div>
   </div>
 </footer>